# Database Configuration
# Use 'host.docker.internal' to access localhost from inside Docker on Windows/Mac
DB_HOST=host.docker.internal
DB_USER=root
DB_PASSWORD=Ritesh45
DB_NAME=kiranrxsmart

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=8389761461:AAF-9xCgVAZej0Wqo57W9tLDVuIVhHt2EkM
TELEGRAM_BOT_USERNAME=Kiran_Care_Wellness_bot